body{
	font-family: 'Roboto Slab', serif;
}
ul{
	padding-right: 80px;
	font-size: 22px;
}
ul a{
	margin-right: 40px;
	
}
ul a:hover{
	transition: 0.6s ease;
	font-size: 20px;
	
}
/*====================================Slider====================================*/
.slider{
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position:center;
	animation:asd 20s infinite linear;
	position: relative;
}
@keyframes asd{
	0%{ background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/s1.jpg); }
	25%{ background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/s2.jpg); }
	50%{ background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/s3.jpg); }
	75%{ background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/s4.jpg); }
	100%{ background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/s5.jpg); }
}

.slider h1{
	color: orange;
	position: relative;
	overflow: hidden;
	text-align: center;
	padding-top: 20%;
	
	font-size: 60px;
}
.slider p{
	color: wheat;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 22px;
}

#btn{ 
	display: inline-block; 
	text-decoration: none; 
	color: #fff; 
	border: 1px solid #fff;
	padding: 12px 34px; 
	font-size: 15px; 
	background: transparent;
    cursor: pointer; 
    margin-top: 10px;
    margin-left: 41%;

}
#btn:hover{
	border: 1px solid #fff;
	background: orange;
	transition: 1s;
}
#img{
	height: 500px;
	background-repeat: no-repeat;
	background-image: url(../img/p2.jpg);
}
/*=====button responsive=====*/
@media(max-width: 700px)
{
	#btn{ 
	display: inline-block; 
	text-decoration: none; 
	color: #fff; 
	border: 1px solid #fff;
	padding: 12px 34px; 
	font-size: 15px; 
	background: transparent;
    cursor: pointer; 
    margin-top: 10px;
    margin-left: 25%;

}
.slider h1{
	color: orange;
	position: relative;
	overflow: hidden;
	text-align: center;
	padding-top: 20%;
	
	font-size: 40px;
}
.slider p{
	color: wheat;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
}
}
/*=============number===========*/
#space{
	height: 10vh;
}

#number{
	height: 50vh;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	position: relative;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/number.jpg);
}
#number h1{
	color: orange;
	text-align: center;
	padding-top: 7%;
}
#number p{
	color: white;
	text-align: center;
	font-size: 20px;
}
#number h2{
	color: white;
	text-align: center;
}
@media(max-width: 700px)
{
	#number h1{
	font-size: 34px;
	margin-top: 10%;
	color: orange;
	text-align: center;
	padding-top: 7%;
}
#number p{
	color: white;
	text-align: center;
	font-size: 22px;
}
#number h2{
	color: white;
	text-align: center;
}
}
.card-title{
	color: orange;
}
.end{
	height: 5vh;
	text-align: center;
	font-size: 25px;
	color: orange;
	background-color: #343A40;
}
.space{
	height: 10vh;
	width: 100%;
	background-color:#E9ECEF;
}